.navBarBox{
    height: 10vh;
    width: 100%;
    background-color: #ea1538;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.navBarIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBarLeft{
flex: 3;

}

.navBarCenter{
flex: 5;
}

.navBarRight{
flex: 5;
display: flex;
align-items: center;
color: black;
}

.navBarIcon{
    margin-top: 25%;
    margin-left: 50%;
}


.navBarLinks{
    margin-left: 5%;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.navBarLink{
    margin-left:8%;
    margin-right: 5%;
}
.profilePic{
    width: 9%;
    height: 0%;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 50%;
}

.logo{
    font-size: 2rem;
    margin-left: 5%;
    font-weight: bold;
    color: black;
    cursor: pointer;
    font-style: italic;
}
.searchBarBox{
    width: 100%;
    height: 32px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    margin-left: 2%;
}

.searchInput{
    border: none;
    outline: none;
    width: 80%;
}

.icanTag{
    width: 10%;
    height: 5%;
    background-color: black;
    color: white;
    position: relative;
    border-radius: 50%;
    /* display: flex; */
    top: -39px;
    left: 25px;
}

